server:
  port: 8091

spring:
  application:
    name: user-service

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google
        provider:
          google:
            issuer-uri: https://accounts.google.com

app:
  oauth2:
    success-redirect: ${OAUTH2_SUCCESS_REDIRECT:https://localhost:5173}
