spring:
  application:
    name: UserService

  datasource:
    url: jdbc:mysql://localhost:3306/UserService
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:   # phải trùng với {registrationId} trong Google Console
            client-id: 560938395171-t33v8nedsm55v08v6evvvlaiq3td9nak.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code   # BẮT BUỘC
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

server:
  servlet:
    context-path: /user
